<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

   <!--  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above -->
    <link href="css/ionic.app.css" rel="stylesheet">
   

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane ng-controller="weatherCtrl as weather">
      <ion-header-bar class="bar-stable">
        <h1 class="title">Mat's Awesome Weather</h1>
        <button class="button button-assertive" ng-click="weather.updateThis()">Update</button>
      </ion-header-bar>

      <ion-content>

          <!-- Make this a form -->
          <div class="list">
            <div class="item item-input">
              <label class="item-input-wrapper">
                <input type="text" placeholder="Search by Zip" ng-model="zipsearch">
              </label>
              <button class="button button-small" ng-click="weather.searchZip(zipsearch)">
                Search
              </button>
            </div>
          </div>

        <ion-spinner id="spinny" ng-if="weather.loading===true"></ion-spinner>

          <h3>{{weather.place}}</h3>
        <div class="row">
          <div class="col col-80 col-offset-10">
            <div class="temp-box">{{weather.tem}}℉</div>
            <div>{{weather.hilow}}</div>
            <div class="img-box">
              <img src="{{weather.icon}}" height="240px">
            </div>
            <p 
            >The Weather is: {{weather.desc}}</p>
          </div>
        </div>

        <ul class="list">
          <li class="item item-divider">
            5 Day Forecast:
          </li>
          <li class="item item-icon-left item-icon-right" ng-repeat="day in weather.fiveDay">
            <img src="{{day.icon_url}}" class="icon"> {{day.conditions}} <span class="icon">{{day.high.fahrenheit}}/{{day.low.fahrenheit}}</span>
          </li>
        </ul>

        <ul class="list">
          <li class="item item-divider">
            Search History:
          </li>
          <li class="item" ng-repeat="(key, value) in weather.storedSearches">
            {{key}}
          </li>
        </ul>
      </ion-content>
    </ion-pane>
  </body>
</html>
